html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 20px;
}

/* HOVER */

a {
  transition: 0.3s;
}

a:hover {
  color: #d4d4d4;
}

/* INPUT */

input {
  outline: none;
}

/* ANIMATION */

#productContainer div {
  transition: 0.5s;
}

#productContainer div:hover {
  transform: translateY(-10px);
}

#productContainer div {
  transition: 0.3s;
}

#productContainer div:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

button {
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

.bg-zinc-900 {
  transition: 0.3s ease;
}

.bg-zinc-900:hover {
  transform: translateY(-8px);
}